@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Fuentes */
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    --font-playfair: 'Playfair Display', serif;

    /* Colores de la Estética Blanca Glow */
    --color-rosa-glow: #f8d7da;
    --color-rosa-fuerte: #d49399;
    --color-dorado: #c5a880;
    --color-oscuro: #2c3e50;
}